@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Udemy_Facturazioin</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/materialize/css/materialize.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
    <environment exclude="Development">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav>
            <div class="nav-wrapper cyan darken-2">
                <a href="#!" class="brand-logo center">
                    Sistema de ventas y Facturaci&oacute;n
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div id="menuNavbar1">
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a asp-area="Usuarios" asp-controller="Usuarios" asp-action="SessionClose">
                                    Salir
                                </a>
                            </li>
                            
                        </ul>

                        <a href="#" data-target="slide-out" class="material-icons dp48 btn-floating btn-large waves-effect waves-light cyan darken-2 sidenav-trigger"><i class="large material-icons">dehaze</i></a>

                    </div>
                }
            </div>
        </nav>

        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view cyan darken-2">
                    <img id="foto1" class="circle responsive-img valign-wrapper profile-image" src="~/imagenes/fotos/default.png" />
                    <p class="white-text" id="name1">@UserManager.GetUserName(User)</p>
                    <p class="white-text" id="role1"></p>
                </div>
            </li>
            <li>
                <a asp-area="Principal" asp-controller="Principal" asp-action="Index" onclick="">
                    Principal
                </a>
            </li>
            <li>
                <a asp-area="Usuarios" asp-controller="Usuarios" asp-action="Index" onclick="">
                    Usuarios
                </a>
            </li>
          

        </ul>

        @if (SignInManager.IsSignedIn(User))
        {
            <div id="menuNavbar2">
                <div id="main">
                    <div class="nav-wrapper">
                        <aside id="left-siderbar-nav">
                            <ul id="slide-out" class="sider-nav fixed leftside-navigation">
                                <li class="user-details cyan darken-2">
                                    <div class="row">
                                        <div>
                                            <img src="~/imagenes/fotos/default.png" alt="" id="foto2" class="circle responsive-img valid profile-image" />
                                        </div>
                                        <div class="col col s8 m8 l8">
                                            <p class="white-text" id="name2">@UserManager.GetUserName(User)</p>
                                            <p class="white-text" id="role2">@ViewData["Roles"]</p>

                                        </div>
                                    </div>
                                </li>
                                <div class="collection">
                                    <a asp-area="Principal" asp-controller="Principal" asp-action="Index" onclick="" id="enlace1" class="collection-item">Inicio</a>

                                    <a asp-area="Usuarios" asp-controller="Usuarios" asp-action="Index" onclick="" id="enlace2" class="collection-item">Usuarios</a>

                                </div>
                            </ul>
                        </aside>
                    </div>

                </div>
            </div>

        }
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Sistema de Ventas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>

    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/materialize/js/materialize.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
